<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="6.12.19029.6381" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="RhinoCommon" version="6.12.19029.6381" targetFramework="net45" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net45" />
</packages>